@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 200px;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  background-color: red;
  height: 100%;

  position: absolute;
  left: 1rem;
  top: 1rem;
}

.signup {
  width: 30%;
  margin: auto;
}

.redirect {
  margin: 20px;
  padding: 10px;
  background-color: #ffcccc;
}

.email-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: antiquewhite;
  margin-bottom: 0.5rem;
}

.signup-input {
  padding: 0.5rem;
}
